html {
    box-sizing: border-box;
    color: white;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-rows: 15% 10% 60% 15%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
  background-color: red;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.canvas-aside {
  background-color: purple;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-content {
  background-color: orange;
  width: 65%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  background-color: pink;
  height:100%;
  display:flex;
  flex-direction: row;
}
